<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our website</title>
</head>
<body>

    <div class="container" style="text-align: center;">
        <h1>About Django</h1>
        <p>Django is a high-level web framework for Python that promotes rapid development and clean, 
           pragmatic design. Developed by the Django Software Foundation, Django aims to make it easier 
           to build web applications by providing reusable components and tools that help developers 
           focus on writing their application without needing to reinvent the wheel for common functionalities.
        </p>
        <button>Contact us</button>
    </div>
    
</body>
</html>